body{
    margin: 0;
    padding: 0;
    background-color: #0E1E25;
}


.btn {
    margin: auto;
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
  }

  button{
      /* color: white; */
      background-color:  #80ff80;
      width: 200px;
      height: 60px;
      border: none;
      /* border: 1px solid #007ACC; */
      border-radius: 50px;
      color: white;
      font-size: 25px;
      text-align: center;
      /* background-image: url(./img/2.jpg); */
  }
